// @use 'colors';
@import 'base/colors';

.main-color {
  background-color: $main-bg-color;
}

.sec-color {
  background-color: $second-bg-color
}

.third-color {
  background-color: $third-bg-color
}

.main {
  width: 90%;
  margin: 2vh auto;
}

.text-line-through {
  text-decoration: line-through;
}

@media only screen and (min-width: 600px) {
  .main {
    width: 50%;
    margin: 2vh auto;
  }
}

.add-btn:hover {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.three-quart-width {
  width: 75%;
}


.half-width {
  width: 50%;
}

.quart-width {
  width: 25%;
}

.font-sm {
  font-size: 10px;
}

