.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

:root {
  --main-bg-color: #3F88C5;
  --second-bg-color: white;
}

.main-color {
  background-color: var(--main-bg-color);
}

.sec-color {
  background-color: var(--second-bg-color)
}

